<!-- My Hangouts -->
		  <div class="content" id="panel3">
		    <div class="row">
			  <div id="pins" class="transitions-enabled small-12 medium-10 large-6">
				<%= render partial: 'hangouts/hangout_pins', locals: { hangouts: @user_hangouts } %>
				</div>
			</div>
		</div>