<dl class="tabs" data-tab>
		  <dd class="active"><a href="#panel1">Upcoming Chats</a></dd>
		  <dd><a href="#panel2">Following Chats</a></dd>
		  <dd><a href="#panel3">My Chats</a></dd>
		</dl>
		<div class="tabs-content">
		  <%= render 'profiles/rsvped_tab' %>

		  <%= render 'profiles/following_chats_tab' %>

		  <%= render 'profiles/my_chats_tab' %>
	</div>