<!-- RSVPed hangouts -->
		  <div class="content active" id="rsvpedChats">
		    <div class="row">
			  <div id="pins" class="transitions-enabled small-12 medium-10 large-6">
			  	<% unless @user_rsvps.empty? %>
			  		<div class="text-center">
			  			<h3>You don't have any scheduled chats.</h3>
			  			<p><%= link_to 'Find some chats', languages_path %> that sound interesting and click 'RSVP'.</p>
			  		</div>
			  	<% else %>
				<% @user_rsvps.each do |rsvp| %>
					<% unless is_finished(rsvp.rsvped.end_time) %>
					<%= render partial: 'profiles/rsvped_hangouts', locals: {language: rsvp.rsvped.language.id, hangout: rsvp.rsvped } %>
					<% end %>
				<% end %>
				<% end %>
				</div>
			</div>
		  </div>