<ol class="joyride-list" data-joyride data-options="cookie_monster:true; cookie_name:'joyride'">
  <li data-id="firstStop" data-text="Next" data-options="tip_location: top; prev_button: false">
    <p>Hello and welcome to your profile. Click on 'Settings' to change your username, add a bio, or change your profile picture.</p>
  </li>
  <li data-id="numero1" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev">
    <h4>Follow Users</h4>
    <p>Following people is a great way to get updates of that person's conversations.</p>
  </li>
  <li data-id="numero2" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <h4>My Chats Tab</h4>
    <p>On this tab, you can browse all of the conversations you start or post messages in.</p>
  </li>
  <li data-id="numero3" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <h4>Upcoming Chats Tab</h4>
    <p>When you click 'RSVP' on a future chat, it will show up here.</p>
  </li>
  <li data-id="numero4" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <h4>Following Chats Tab</h4>
    <p>These are chats created by the people you follow.</p>
  </li>
  <li data-id="End" data-button="End" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <h4>Follow a Language</h4>
    <p>You can post new conversations easily from your profile if you follow a language. Click 'End' and then follow your first language.</p>
  </li>
</ol>