<h1>Here's your profile</h1>
<h2><%= @profile.user.username %></h2>
<%= link_to 'Profile', @profile %>
<% if user_signed_in? && current_user.id == @profile.user_id %>
<%= link_to 'Your Settings', edit_user_registration_path %>
<% end %>

<br>


<% @user_rsvps.each do |rsvp| %>
<%= link_to language_hangout_path(rsvp.rsvped_id.language, rsvp.rsvped_id) %>
<% end %>