<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.username %>,</p>
    <p>
      There's a new <%= @language %>starting now. It will end at: <%= @end_time %>.
    </p>
    <p>
      If you can make it, just follow this link: <%= link_to '#{@language} Chat', language_hangout_path(@hangout.language, @hangout) %>.
    </p>
    <p>Have fun!</p>
    <p>Nate | Founder</p>
    <br>
    <a href="http://alpha.fluentli.com">Fluentli</a>
  </body>
</html>