<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.username %>,</p>
    <p>
      A chat in <%= @language %> has been scheduled. It will start on: <%= @start_time %>.
    </p>
    <p>
      If you can make it, just follow this link RSVP: <%= link_to '#{@language} Chat - #{@hangout.name}', language_hangout_path(@hangout.language, @hangout) %>.
    </p>
    <p>Have fun!</p>
    <p>Nate | Founder</p>
    <br>
    <a href="http://alpha.fluentli.com">Fluentli</a>
  </body>
</html>