<% unless user_signed_in? %>
<%= render 'layouts/welcome' %>
<% else %>
  <div class="orbit-container row">
  <div class="small-12 medium-12 large-12 columns">

    <h1>Choose a Language</h1>
    <div class="panel callout radius small-12 medium-12 large-12 columns">
      <h3>What language do you want to practice?</h3>
    </div>
  </div>

<div class="row">
    <div class="small-12 medium-12 large-12 columns">

</div>
    <div class="row">
      <div id="pins" class="transitions-enabled small-12 medium-9 large-7">
        <% @languages.each do |language| %>
        <div class="box panel">
          <%= link_to language.name, language_hangouts_path(language) %>
        </div>
        <% end %>
      
    </div>
  </div>
    <div class="panel">
      <%= link_to 'New language', new_language_path(@language), class: "button tiny round success center" %>
    </div>
</div>
</div>
        
      </div>

    <div class="panel small-12 medium-12 large-12 columns">
      <%= link_to 'New language', new_language_path(@language), class: "button tiny round success center" %>
    </div>
</div>
<% end %>
