<div class="row">
	<div class="large-12 columns">
		<h1>About this app</h1>
		<p>Have you been to <a href="http://fluentli.com">Fluentli</a> before?</p>
		<p>It's a Q&A site for language learners that I started in 2013.</p>
		<p>I've started working on this app as a future addition to the main Fluentli app. <strong>In otherwords, this is just your playground to help me test and make improvements to a really big new section of the site before I make it 'live'.</strong></p>
		<h2>What is it?</h2>
		<p>It is meant to be a chatroom like app, specifically geared to language learners.</p>
		<p>As language learners, it's great to have people to talk to so we can practice and pick up new expressions we didn't know.</p>
		<p>It will be a casual place where anyone can start a chatroom (called conversations) and invite others to it.</p>
		<h2>Help me make it awesome!</h2>

		<p>In order to make this something we all want, I want to get your ideas and feedback now, while it's still very much in test mode.</p>
		<div class="text-center">
			<%= link_to 'Give feedback', contact_path, class: "button success" %>
		</div>
		<h3>Keep in mind, this is only a test...</h3>
		<p>Which means there will be lots of things that break. Your information and chats may not be completely private, and we might have to completely wipe all the data at one point.</p>
		<div class="panel callout">
			<p><strong>Bottom line, don't put anything sensitive or important on here. It's just a place for us to play around and make it better before I move it over to the main site, where everything will work perfectly.</p>
		</div>
	</div>
</div>