<div class="row">
	<div class="large-12 columns">
		<h1>Feed me your feedback!</h1>
		<p>If you haven't read the <%= link_to 'About', about_path %> page (you should read that first), this app is just a test.</p>
		<p>Basically, I'm building it based on what some users of the main app, <a href="http://fluentli.com" target="_blank">Fluentli</a>, have mentioned wanting.</p>
		<p>So if you like the idea of having a place fine tuned to helping language learners chat with others in their target language, please take a second to share your ideas below.</p>
		<p>Thanks! I really appreciate your input!</p>
		<br>
		<iframe src="https://docs.google.com/forms/d/1YnI86dtIFLu4RMjLh74rVdfES_age4ZZVxAgEwPtU-g/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</div>
</div>