<div id="<%= user.id %>-follow">
	<% unless current_user.following?(user) %>
		<% unless current_user == user %>
			<%= link_to follows_path(id: user), remote: true, method: :post, id:"follow-submit", class: "button small success round tiny", title: "Follow #{user.username}" do %>
				<i class="fi-plus"></i> <i class="fi-torso"></i>
			<% end %>
		<% end %>
	<% else %>
		<%= link_to follow_path(id: user), remote: true, method: :delete, class: 'button small round secondary tiny', title: "You follow #{user.username}" do %>
				<i class="fi-torso"></i> <i class="fi-check"></i>
			<% end %>
	<% end %>
</div>