<div class="row chat-buffer mt pt">

    <div id="posts">
      <div class="posts-list">
        <%= render @posts.reverse %>
      </div>
    </div>
  </div>
  
      <div class="top-pad fixed-to-bottom">
        <% unless user_signed_in? %>
        <h6 class="subheader">To join this conversation, you need to 'Sign In.'</h6>
          <%= link_to 'Sign In', new_user_session_path, class: "button" %>
        <% else %>
          <%= render partial: "posts/new" %>
        <% end %>
      </div>
  
    <div class="tags-cloud glassy-bg">
      <h4>Tags Cloud</h4>
      <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
      <%= link_to tag.name, language_hangout_tag_path(@language, @hangout, tag.name), class: css_class %>
      <% end %>
    </div>
