<div class="row mt pt">
  <div class="large-5 columns">
    <div class="top-pad glassy-bg">
      <%= render partial: "posts/new" %>
    </div>
    <div class="tags-cloud glassy-bg">
      <h4>Tags Cloud</h4>
    </div>
  </div>
  <div class="large-7 columns" id="posts">
    <%= render @posts.reverse %>
  </div>
</div>