<div class="row chat-buffer mt pt">
  <a href="#" class="button tiny button round right" data-reveal-id="tagModal">Search chat by Tags</a>

    <div id="posts">
      <div class="posts-list">
        <%= render @posts.reverse %>
      </div>
    </div>
  </div>
  
      <div class="top-pad fixed-to-bottom">
        <% unless user_signed_in? %>
        <div class="text-center">
          <h6 class="subheader" style="color: white;">To join this conversation, you need to 'Sign In.'</h6>
            <%= link_to 'Sign In', new_user_session_path, class: "button success" %>
          </div>
        <% else %>
          <%= render partial: "posts/new" %>
        <% end %>
      </div>
  
    <div id="tagModal" class="reveal-modal small" data-reveal>
      <h4>Tags Cloud</h4>
          <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
          <%= link_to tag.name, language_hangout_tag_path(@language, @hangout, tag.name), class: css_class %>
          <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>