<div class="text-center">
  <%= form_for([@language, @hangout, Post.new], remote: true) do |f| %>

    <div class="medium-12 large-10 large-centered columns">
      <%= f.text_area :content, placeholder: "Your comment", rows: 5 %>
    </div>

    <div class="medium-12 large-10 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>
    
    <div class="medium-12 large-10 large-centered columns">
      <%= f.submit "Post", class: "button round secondary small" %>
    </div>
  <% end %>
</div>