<div class="text-center">
  <%= form_for([@language, @hangout, Post.new], remote: true) do |f| %>

    <div class="medium-12 large-10 large-centered columns">
        <%= f.text_area :content, placeholder: "Your comment", rows: 5 %>     
    </div>

    <div class="medium-12 large-10 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>
        
        <div class="large-3 inline">
          <a href="#" class="button round tiny secondary" data-reveal-id="videoChat"><i class="fi-video"></i></a>
        </div>
        <div class="large-3 inline">
          <a href="#" class="button tiny secondary round" data-reveal-id="tagModal">Show Tags</a>
        </div>
        <div class="large-3 inline">
          <%= f.submit "Post", class: "button success small" %>
        </div>
   
  <% end %>
</div>