<div class="row">
	<div class="large-12 columns">
		<h1>Edit this conversation</h1>

		<%= render 'form' %>

		<%= link_to 'Show', language_hangout_path(@language, @hangout) %> |
		<%= link_to 'Back', language_hangouts_path(@language) %>
	</div>
</div>