	<div class="conversation-title small-12 medium-12 large-12">
		<h2><%= @hangout.name %></h2>
	</div>
	<div class="conversation-sub small-12 medium-12 large-12">
		<%= link_to 'Back to ' + @language.name, language_hangouts_path(@language), class: "button tiny round" %>
	</div>
  

<%= render partial: 'posts/index', locals: {language: @language, hangout: @hangout} %>

<%= link_to 'Edit', edit_language_hangout_path(@language, @hangout) %>
