	<div class="row">
		<div class="small-12 medium-12 large-12 top-margin">
			<ul class="breadcrumbs">
	 			<li><%= link_to @language.name + " Conversations", language_hangouts_path %></li>
	 			<li><%= link_to 'Current Chat', language_hangout_path(@language, @hangout) %></li>
	  			<li class="current"><a href="#"><%= @hangout.name %></a></li>
			</ul>
		</div>
	</div>
  

<%= render partial: 'posts/index', locals: {language: @language, hangout: @hangout} %>