// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-head {
	padding: 3em 3em 1em 3em;
}

.profile-head img {
	border-radius: 50%;
	border: 6px solid #DADADA;
	max-width: 150px;
}

.followers img {
	max-width: 100px;
	max-height: 100px;
	border-radius: 50%;
}

.followers table {
	border: none;
}

.followers td .button {
	top: 9px;
}

p.user-bio {
	margin: 0;
}

p.sub-text {
	color: rgb(145, 145, 145);
}

.reveal-modal table {
	margin: auto;
}