// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-head {
	padding: 3em 3em 1em 3em;
}

.profile-head img {
	border-radius: 50%;
	border: 6px solid #DADADA;
	max-width: 150px;
}

.followers img {
	max-width: 90px;
	max-height: 90px;
	border-radius: 50%;
	border: 6px solid #F2F2F2;
}

.followers table {
	border: none;
}

.followers td .button {
	top: 9px;
}

p.user-bio {
	margin: 0 auto;
	max-width: 600px;
}

p.sub-text {
	color: rgb(145, 145, 145);
}

.reveal-modal table {
	margin: auto;
}

.tabs {
	border-bottom: 1px solid #E0E0E0;
}

/* Language Followers Panels */

.user-panel-container {
	margin-top: 7em;
}
.user-panel {
	max-width: 450px;
	margin: 2em auto;
	background: white;
	border-radius: 40px;
	border-bottom: 15px solid #D5D5D5;
	border-right: 15px solid #e8e8e8;
}
.user-panel-container img {
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
	border: 6px solid #9b59b6;
	top: -75px;
	position: relative;
	margin-bottom: -60px;
}