<div class="hero small-12 medium-12 large-12 columns">
	<h1>Join Conversations in Any Language</h1>
	<p class="lead big-bottom">A safe place to use the language you're learning.</p>
	<div class="row">
		<div class="small-12 medium-12 large-12 columns">
			<a href="#" data-reveal-id="signupModal" class="button success large">Sign Up</a>
			<a href="#" data-reveal-id="signinModal" class="button secondary large">Sign In</a>
		</div>
	</div>
</div>
</div>
</div>

	<div id="signupModal" class="reveal-modal small" data-reveal>
  		<%= render 'devise/shared/registration' %>
  		<a class="close-reveal-modal">&#215;</a>
	</div>

	<div id="signinModal" class="reveal-modal small" data-reveal>
  		<%= render 'devise/shared/sign_in' %>
  		<a class="close-reveal-modal">&#215;</a>
	</div>
</div>